libogg.so
libFLAC.so
libvorbis.so
libvorbisfile.so
libvorbisenc.so
libsndfile.so

libogg.dylib
libFLAC.dylib
libvorbis.dylib
libvorbisfile.dylib
libvorbisenc.dylib
libsndfile.dylib

ogg.dll
FLAC.dll
vorbis.dll
vorbisfile.dll
vorbisenc.dll
sndfile.dll
